<h1>Topic</h1>
<%= form_with scope: :topic, url: topics_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', topics_path %>